{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translation</title>
    <link rel="stylesheet" href="{% static 'Translation.css' %}">
</head>
<body>
    <h1>Text Translation</h1>
    <div class="container">
        <div class="output-container">
            <div id="output"></div>
        </div>
        <div class="input-box">
            <input type="text" id="translation" placeholder="Enter text">
            <button id="b" onclick="output()">
                <img src="{% static 'button.jpg' %}" alt="Error" height="20px">
            </button>
        </div>
    </div>
    <script src="{% static 'Translation.js' %}"></script>
    <script>
        var socket = new WebSocket('ws://' + window.location.host + '/ws/translate/');

    socket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var translation = data['translation'];

        // Display the translation in your HTML
        document.querySelector('#output').textContent = translation;
    };

    socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#b').onclick = function(e) {
        var sentenceInputDom = document.querySelector('#translation');
        var sentence = sentenceInputDom.value;

        socket.send(JSON.stringify({
            'sentence': sentence
        }));

        sentenceInputDom.value = '';
    };
    </script>
</body>
</html>